<div class="container">
  <h3>Git Best Repos Finder</h3>
  <hr>
  <p>&nbsp;</p>

  <section class="row">

    <div class="col-md-5 col-md-offset-1">
      <h5>Find Best Repos By Language</h5>
      <br>
      <form #repoForm="ngForm" (ngSubmit)="onSubmit(repoForm.value)">
        <div class="form-group">
          <label for="language">Choose a programming language: </label>
          &nbsp;
          <select name="language" [(ngModel)]="language">
            <option value="python"> Python </option>
            <option value="java"> Java </option>
            <option value="typescript"> TypeScript </option>
            <option value="ruby"> Ruby </option>
            <option value="php"> PHP </option>
          </select>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary"><i class="fab fa-searchengin"></i> Search </button>
        </div>
      </form>
      <br>
      <div [hidden]="!loading" class="text-center">Loading...</div>
      <div [hidden]="!error" class="text-center alert alert-warning">
        <strong>Warning!</strong> {{error}}
      </div>
      <div [hidden]="repoGit==null">
        <br>
        <ng-container *ngFor="let repo of repoGit">

          <div class="alert alert-info">
            <h5>{{ repo.name }}</h5>
            <p>{{ repo.description }}</p>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-star"></i>&nbsp;
                    <span class="badge badge-light">{{ repo.stargazers_count }}</span>
                </button>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button type="button" class="btn btn-primary" (click)="saveRepo(repo)">
                    <i class="fas fa-save"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-md-6">
      <ng-container *ngFor="let repo of repoData">
        <div class="card">
          <h5 class="card-header">
              {{ repo.name }}
          </h5>
          <div class="card-body">
            <p class="card-text">{{ repo.description }}</p>
            <p><a target="_blank" href="{{ repo.html_url }}">{{ repo.html_url }}</a></p>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-star"></i>&nbsp;
                  <span class="badge badge-light">{{ repo.stargazers_count }}</span>
                </button>
                &nbsp;
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-glasses"></i>&nbsp;
                  <span class="badge badge-light">{{ repo.watchers_count }}</span>
                </button>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button type="button" class="btn btn-primary" (click)="deleteRepo(repo.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <br>
    </div>
  </section>
</div>
